@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#operator-toolbar-button {
   list-style-image: url("chrome://operator/content/operator.png");
}

#operator-toolbar-button:hover {
   list-style-image: url("chrome://operator/content/operator.png");
}
#operator-toolbar-button[disabled="true"] {
   list-style-image: url("chrome://operator/content/operator_disabled.png");
}

/* Small */
toolbar[iconsize="small"] #operator-toolbar-button {
   list-style-image: url("chrome://operator/content/operator_small.png");
}

toolbar[iconsize="small"] #operator-toolbar-button:hover {
   list-style-image: url("chrome://operator/content/operator_small.png");
}
toolbar[iconsize="small"] #operator-toolbar-button[disabled="true"] {
   list-style-image: url("chrome://operator/content/operator_small_disabled.png");
}

#operator-options {
   list-style-image: url("chrome://operator/content/options.png");
}

